{{
  portfolio_enabled= False
  active = "report"
  title = "Report"
}}

{{extend "my_layout.html"}}
<style> 
.article {
	padding:20px;
	font-size:16px;
	font-style:italic;
	height:200px;
}
</style>
<h2><b>Final Phase Report</b></h2>
<div class="article">
<p> We've done basic things that is wanted to do like user management, DB tables etc.
 Additionally we've added validation to forms(Register, Advertise and Comment). 
 And we've inserted data from CSV file.
 
 <p>Normal User - username:hfo
			   password:hfop</p>
			   
 <p>Editor - username:fdr
		  password:fdrp</p>


</p>




 
</div>
