      <div id="base">
                <div class="container bottom-border padding-vert-20">
                    <div class="row">
                        <!-- Disclaimer -->
                        <div class="col-md-6">
                            <h3 class="class margin-bottom-5" ><a href="{{=URL('default', 'about')}}">About Us </a></h3>
                            <p> This site is designed to find home for unclaimed animals.</p>
                        </div>
                        <!-- End Disclaimer -->
                        <!-- Contact Details -->
                        <div class="col-md-6 margin-bottom-5">
                            <h3 class="margin-bottom-5" class="pull-right"> <a href="{{=URL('default', 'contact')}}">Contact Details</a> </h3>
                            
                                Send us an e-mail. </br>
								f.duygurende@gmail.com</br>
								hayriye.yasak@gmail.com
                            
                            
                        </div>
                        <!-- End Contact Details -->
                        
                    </div>
                </div>
            </div><div id="footer" class="background-grey">
                <div class="container">
                    <div class="row">
                        <!-- Footer Menu -->
                        <div id="footermenu" class="col-md-6">
                             <div id="copyright"  >
                            <p class="pull-right"> 2016 FindPet</p>
                        </div>
                        </div>
                        <!-- End Footer Menu -->
                        <!-- Copyright -->
                       
                        <!-- End Copyright -->
                    </div>
                </div>
            </div>